<div class="w-full max-w-md">
  <picture class="h-72 flex justify-center items-center">
    <img class="rounded-t-lg max-h-[40dvh]" [src]="breed().url" alt="cat image" />
  </picture>
  <div class="">
    <h5 class="text-xl font-semibold tracking-tight text-gray-900">
      {{ breed().breed.name }}
    </h5>
    <p class="text-xs">{{breed().breed.description}}</p>
    <div class="flex flex-wrap gap-2 my-2">
      <span class="bg-green-100 text-nowrap flex text-green-800 text-sm font-medium px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">
        Inteligencia {{ breed().intelligence }} <ng-container *ngTemplateOutlet="star"></ng-container>
      </span>
      <span class="bg-green-100 text-wrap flex text-green-800 text-sm font-medium  px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">
        Energia {{ breed().energyLevel }} <ng-container *ngTemplateOutlet="star"></ng-container>
      </span>
      <span class="bg-green-100 flex text-wrap text-green-800 text-sm font-medium  px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">
        Adaptabilidad {{ breed().adaptability }} <ng-container *ngTemplateOutlet="star"></ng-container>
      </span>
    </div>
    <div class="flex items-center justify-between">
      <a
        [href]="breed().wikipediaUrl" target="_blank" rel="noopener noreferrer"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >Ir a Wikipedia</a
      >
    </div>
  </div>
</div>


<ng-template #star >
  <svg
  class="w-4 h-4 text-yellow-300"
  aria-hidden="true"
  xmlns="http://www.w3.org/2000/svg"
  fill="currentColor"
  viewBox="0 0 22 20"
>
  <path
    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
  />
</svg>
</ng-template>
